<div class="m-5  border border-primary" style="border-radius: 5px;">
   <div class=" m-3">
      <div class=" text-center ">
         <h2>Address details</h2>
   </div>
    <form [formGroup]="addAddress" (ngSubmit)="onaddAddressNext()">
    <div class="row">
        <div class="col-md-12">
            <h4>Temporary Address</h4>
        </div>
     <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
      <mat-form-field  class="example-full-width" appearance="outline">
         <mat-label>Address</mat-label>
       <input matInput   formControlName="address" placeholder="Address"   class="capitalize">
       </mat-form-field>
     </div>
     <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
      <mat-form-field  class="example-full-width" appearance="outline">
         <mat-label>State</mat-label>
       <input matInput    formControlName="state" placeholder="State"   class="capitalize">
       </mat-form-field>
     </div>
     <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
      <mat-form-field  class="example-full-width" appearance="outline">
         <mat-label>City</mat-label>
       <input matInput     formControlName="city" placeholder="City"   class="capitalize">
       </mat-form-field>
     </div>
     <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
      <mat-form-field  class="example-full-width" appearance="outline">
         <mat-label>Area</mat-label>
       <input matInput    formControlName="area" placeholder="Area"   class="capitalize">
       </mat-form-field>
     </div>
     <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
      <mat-form-field  class="example-full-width" appearance="outline">
         <mat-label>Street</mat-label>
       <input matInput    formControlName="street" placeholder="Street"  class="capitalize">
       </mat-form-field>
     </div>
     <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
      <mat-form-field  class="example-full-width" appearance="outline">
         <mat-label>Pincode</mat-label>
       <input matInput    formControlName="pincode" placeholder="Pincode"  class="capitalize">
       </mat-form-field>
     </div>
    </div> 
    <div class="row mt-4">
        <div class="col-md-12">
            <h4 style="float: left;">Permanent Address</h4>
            <div style="float: right;" class="mb-3 form-check float-right">
                <input [disabled]="sameAsTemp" type="checkbox" class="form-check-input" id="exampleCheck1" (click)="sameAs()">
                <label class="form-check-label" for="exampleCheck1" > Same as temporary address</label>
              </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
         <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
          <input matInput    formControlName="paddress" placeholder="Address"  class="capitalize">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
         <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>State</mat-label>
          <input matInput   formControlName="pstate" placeholder="State"  class="capitalize">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
         <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>City</mat-label>
          <input matInput  formControlName="pcity" placeholder="City"  class="capitalize">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
         <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Area</mat-label>
          <input matInput  formControlName="parea" placeholder="Area" class="capitalize">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
         <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Street</mat-label>
          <input matInput  formControlName="pstreet" placeholder="Street" class="capitalize">
          </mat-form-field>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 ">
         <mat-form-field  class="example-full-width" appearance="outline">
            <mat-label>Pincode</mat-label>
          <input matInput  formControlName="ppincode" placeholder="Pincode" class="capitalize">
          </mat-form-field>
        </div>
        <div class="form-group col-md-12 mt-4 col-sm-12 ">
           <div class="row">
               <div class="col-md-12">
                  <button type="button" style="float: left;" (click)="onBack()" class="btn btn-primary">Back</button>
                   <button type="submit" style="float: right;" [disabled]="!addAddress.valid" class="btn btn-primary">Next</button>
               </div>
           </div>
        </div>
   
       </div> 
    </form>
   </div>
</div>