
        
<section class="border border-primary m-5">
    <div class="text-center m-3"><h2>User Login</h2></div>
    <form [formGroup]="login" (ngSubmit)="loginForm()">
        <div class="row m-5">
         <div class="form-group col-md-12 col-sm-12 col-lg-12 ">
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-md-offset-5 align-center ">
            <mat-form-field  class="example-full-width" appearance="outline">
             <mat-label>Email</mat-label>
           <input matInput  formControlName="email" placeholder="Email">
           </mat-form-field>
           <div *ngIf="submitted && f.email.errors" class="error-block display-block">
            <div *ngIf="f.email.errors.required">
              Email is required
            </div>
            <div *ngIf="f.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
         </div>
            </div>
         </div>
         <div class="form-group col-md-12 col-sm-12 col-lg-12 ">
            <div class="row justify-content-center">
                <div class="form-group col-md-6 col-md-offset-5 align-center ">
          <mat-form-field  class="example-full-width" appearance="outline">
             <mat-label>Password</mat-label>
           <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" placeholder="Password">
           <span class="material-icons" style="font-size: 17px;margin: -70px;padding: 14px;
                                                    cursor: pointer;padding-top: 66px;margin-left: -40px;"
                                                        (click)="hide = !hide">
                                                        {{hide ? 'visibility_off' : 'visibility'}}
                                                    </span>
        </mat-form-field>
           <div *ngIf="submitted && f.password.errors" class="error-block display-block">
             <div *ngIf="f.password.errors.required">
                Password is required
             </div>
           </div>
         </div>
            </div>
         </div>
         <!-- <div class="col-md-4 col-sm-4 offset-md-6">
            <div class="row justify-content-center">
                <div class="form-group col-md-1 col-md-offset-5 align-center" style="margin-left: 3pc;">
               <button type="submit"   class="btn btn-primary btn-md">Login</button>
                </div>
            </div>
         </div> -->
         <div class="col-md-10 col-sm-10 offset-md-2">
            <div class="row justify-content-center">
               <div class="form-group col-md-3 align-center">
               <h4 style="color: green;"  [routerLink]="['registration']">Create account</h4>
               </div>
                <div class="form-group col-md-3" style="margin-left: 13pc;">
               <button type="submit"   class="btn btn-primary btn-md">Login</button>
                </div>
            </div>
         </div>
    
        </div> 
        </form>
</section>
