<div class="border border-primary  m-5" style="border-radius: 5px">
    <div class="m-3">
        <div class="text-center">
            <h2>Document Upload</h2>
        </div>
  <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="row">
            <div class="form-group col-md-8 offset-md-4 ">
                <input
                #fileInput
                type="file"
                hidden
                (change)="handleChange($event.target.files)"
              />
              <button  mat-raised-button (click)="fileInput.click()">Upload Photo</button>
            </div>
           </div> 
            <div class="row mt-3" *ngIf="file">
               <div class="form-group col-md-6 offset-md-2">
                   <img [src]="file" alt="" width="350px" height="300px">
               </div>
       
           </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="row">
            <div class="form-group col-md-8 offset-md-4">
                <input
                #fileInput1
                type="file"
                hidden
                (change)="handleChangeSign($event.target.files)"
              />
              <button  mat-raised-button (click)="fileInput1.click()">Upload Signature</button>
            </div>
           </div> 
           <div class="row mt-3" *ngIf="sign">
               <div class="form-group col-md-6  offset-md-2">
                   <img [src]="sign" alt="" width="350px" height="300px">
               </div>
       
           </div>
      </div>
  </div>
    <div class=""></div>
    <div class="form-group col-md-12 mt-4 col-sm-12 ">
        <div class="row">
            <div class="col-md-12">
                <button type="button" style="float: left;" *ngIf="editId && userId" [routerLink]="['']" class="btn btn-primary">Home</button>
                <button type="submit" style="float: right;" class="btn btn-primary" [disabled]="!file" (click)="onSubmit()" >Submit</button>
            </div>
        </div>
     </div>
   </div>
</div> 